/* 清除既有样式 */
*{margin: 0;
padding:0;
}

/* 头部设置 */
.header{
    width:100%;
    max-width: 1920px;
    height:80px;
    background:#07cbc9;
    margin: 0 auto;
}

.header .logo{
    margin-top:16px;
    margin-left:50px;
    text-align: center;
    float:left;
}
.header .nav{
    float:right;
    margin-right:100px;
    overflow:hidden;
    zoom: 1;
}
li{
    height:80px;
    line-height:80px;
    font: normal normal bolder 16px/80px "Microsoft YaHei UI0";
    list-style:none;
    float:left;
    margin-right:40px;
}
.nav a{
    text-decoration: none;
    color:#fff;
}
/* 添加伪类 */
.nav a:hover{
   background:#f5c;
}

/* banner图背景、宽高 */
.banner{
    width:100%;
    max-width: 1920px;
    margin: 0 auto;
    height:800px;
    background: url(images/banner3.jpg) no-repeat;
    position: relative;
    opacity: 0.9;
}
/* 登录 */
.banner .login{
    width:509px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-255px;
    margin-top:-100px;
}
.banner .login input,textarea{
    width:505px;
    color: #fff;
    border:2px solid #aaa;
    background:transparent;
    margin-top:20px;
}
.banner .login input{
   height:39px;
}
.banner .login input:nth-child(5){
    width:127px;
    margin-left:191px;
}

/* 添加伪类 */
.banner .login input:hover{
    border:2px solid #07cbc9;
}
.banner .login textarea:hover{
    border:2px solid #07cbc9;
}
.banner .login .submit:hover{
    border:0;
    background:#07cbc9; 
}



/* about区 */
.about{
    width: 100%;

}
    /* about上模块 */
.about .about-title{
    width: 400px;
    margin: 0 auto;
    margin-top:50px;
}
.about p{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.about .about-title p:nth-child(1){
  font:normal normal bolder 40px/40px "微软雅黑";
}
.about .about-title p:nth-child(2){
    font:normal normal bolder 20px/40px "微软雅黑";
    color: #07cbc9;
  }
  .about .about-title p:nth-child(3){
    opacity: 0.5;
  }
  .about .about-banner{
      width:100%;
      height: 380px;
      max-width: 1920px;
      margin: 0 auto;
      position: relative;
  }

    /* about中模块 */

    /* 并列中模块*/
  .about-banner .about-banner-left,.img,.display{
    display:inline-block;
  }

    /*调整位置  */
  .about .about-banner .about-banner-left{
    position: absolute;
    left: 190px;
    z-index: 3; 
  }
  .about .about-banner .display{
      position:relative;
      top:-62px;
      left:50px;
  }

/* 中模块左边部分的半透明框 */
  .about-banner .about-banner-left .opactiy{
      width: 370px;
      height: 246px;
      border:1px solid #999;
      opacity: 0.6;
      
  }
  .about-banner .about-banner-left .opactiy p{
    width: 370px;
    margin-top:20px;
   
  }
  .about-banner .about-banner-left .about-banner-left-p{
      width:200px;
    font:normal normal bolder 30px/40px "微软雅黑";
  }
  .about-banner .about-banner-left .opactiy input{
      background:#000;
      border:0;
      width:102px;
      height:45px;
      color:#fff;
      margin-top:20%;  
      margin-right:40%;
  }

/* 中模块居中照片 */
.about-banner .img {
  width:568px;
  height:380px;
  position: absolute;
  left:0;
  right: 0;
  margin:auto;
}
  .about-banner .img img{
      width:568px;
      height:380px;
  }
  
  /* 中模块右边部分的蓝色框部分 */
  .about-banner .display{
    display:inline-block;
    position: relative;
    

  }
  .about-banner .display .display-one{
      width:236px;
      height:142px;
      border:1px solid #07cbc9;
      position: absolute;
      left:1100px;
      top:46px;
  }
  .about-banner .display .display-one:nth-child(2){
    width:236px;
    height:142px;
    border:1px solid #07cbc9;
    position: absolute;
    left:1100px;
    top:188px;
}
  .about-banner .display .display-one p{
    width:236px;
    margin-top:20px;
    text-align:center;
  }
  .about-banner .display .display-one p:nth-child(1){

    font:normal normal bolder 30px/30px "微软雅黑";
}
  .about-banner .display .display-one p:nth-child(2){
      color:#07cbc9;
      font:normal normal bolder 16px/16px "微软雅黑";
  }

      /* about下模块 */
  .main .about .about-table{
    width:100%; 
    max-width: 1920px;
    margin: 0 auto;   
  }
  .main .about .about-table img{
    width:100%;   
    height: 480px; 
  }
  .main .about .about-table .about-table-mini{
      overflow:hidden;
      zoom: 1;
  }
  .main .about .about-table .mini{  
    width:25%; 
    float:left;  

  }
  .main .about .about-table .mini-title{  

    height: 100%;
    background: #07cbc9;
    padding-top:43px;
   
  }

  .main .about .about-table .mini-title .opactiy{
    width: 370px;
    height: 246px;
   margin-top:50px;
    opacity: 0.8;
    text-align: center;
     
}
.main .about .about-table .mini-title p{
  width: 370px;
}
.main .about .about-table .mini-title .about-banner-left-p{
  font:normal normal bolder 30px/40px "微软雅黑";
  color: #fff;
}
.main .about .about-table .mini-title p{
    color: #fff;
  }
.main .about .about-table .mini-title input{
    background:#000;
    border:0;
    width:102px;
    height:45px;
    color:#fff;
    margin-top:45px;  
}

/* 下模块伪类 */
.main .about .about-table .mini-title input:hover{
    background-color: transparent;
    border:1px solid #000;
    color:#000;
}
.gallery .about-title{
    width: 400px;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;
}
.gallery .about-title p{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.gallery .about-title p:nth-child(1){
  font:normal normal bolder 40px/40px "微软雅黑";
}
.gallery .about-title p:nth-child(2){
    font:normal normal bolder 20px/40px "微软雅黑";
    color: #07cbc9;
  }
  .gallery .about-title p:nth-child(3){
    opacity: 0.5;
  }
  

  /* gallery区 */
  .gallery .about-img{
      width:1280px;
      margin:0 auto;
      overflow: hidden;
      zoom:1;
      
  }
  .gallery .about-img .about-img-block{
   float:left;
   margin-left:50px; 
   margin-bottom:20px;
}
.gallery .about-img .about-img-block p{
    width: 360px;
    height:64px;
    /* text-align: center; */
    font: normal normal normal 12px/64px "微软雅黑";
    background:#000;
    color:#fff;
 }

 /* fotter区域 */
 .footer{
     width:100%;
     max-width: 1920px;
     margin: 0 auto;
     height:80px;
     background:#07cbc9;
     margin-top:50px;    
 }
 .footer p{
     height:80px;
     line-height:80px;
     text-align:center;
     /* word-spacing:1em;  单词间距*/
 }
